* 
	font-family: 'Roboto', sans-serif 
header 
	position: relative 
nav 
	height: 50px 
	background: rgb(33, 33, 33) 

// глобальные переиспользуемые компоннты
.label 
	color: rgb(255, 255, 255) 
	font-size: 11px 
	font-weight: 400 
	line-height: 29px 
	text-align: center 
	text-transform: uppercase 
	background: rgb(0, 0, 0) 
	margin: 0 auto 
	width: 115px 
	height: 27px 

.title
	color: rgb(34, 34, 34) 
	font-size: 38px 
	font-weight: 700 
	line-height: 48px 
	text-align: center 
	text-transform: uppercase 
	margin-top: 32px 
	margin-bottom: 19px 	 
	
.subtitle
	color: rgb(34, 34, 34)
	font-size: 17px
	font-weight: 400
	text-align: center
	margin-bottom: 10px
	
	

	// шапка сайта
.menu 
	display: flex 
	justify-content: space-between 
	align-items: center 
	padding: 13px 70px 
	margin: 0 
	list-style-type: none 
	.menu__link 
		color: rgb(255, 255, 255) 
		font-size: 15px 
		font-weight: 300 
	.menu__item 
		border-right: 2px dotted rgb(0, 0, 0) 
		padding-right: 28px 
		&:last-child 
			border-right: none 
.subheader 
	position: absolute 
	width: 100% 
	background: rgba(0, 0, 0, 0.6) 
	min-height: 84px 
	.subheader__logo 
		display: block 
		min-width: 100% 
		margin-top: 16px 
	.subheader__logo-text 
		margin-top: 6px 
		color: rgb(255, 255, 255) 
		font-size: 13px 
		font-weight: 400 
		opacity: 0.5 
	.subheader__call 
		color: rgb(255, 255, 255) 
		font-size: 12px 
		font-weight: 300 
		text-align: right 
		margin-top: 19px 
	.subheader__phone 
		display: block 
		margin-top: 8px 
		color: rgb(255, 255, 255) 
		font-size: 22px 
		font-weight: 400 
		text-align: right 
		line-height: 12px 
	.subheader__btn 
		color: rgb(255, 255, 255) 
		font-size: 14px 
		font-weight: 400 
		text-align: center 
		text-transform: uppercase 
		text-shadow: 1px 1px 1 rgba(0, 0, 0, 0.12) 
		border-radius: 4px 
		border: none 
		box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.12) 
		background: linear-gradient(0deg, rgb(30, 172, 199), rgb(76, 226, 255) 100%) 
		margin-top: 19px 
		min-width: 172px 
		height: 46px 
.promo 
	min-height: 800px 
	background: url('../img/uber_bg.jpeg') center center/cover no-repeat 
	padding: 151px 0 135px 0 
	.promo__header 
		color: rgb(255, 255, 255) 
		font-size: 60px 
		font-weight: 700 
		text-align: center 
		text-transform: uppercase 
		line-height: 60px 
		margin: 0 
	.promo__subheader 
		color: rgb(255, 255, 255) 
		font-size: 36px 
		font-weight: 700 
		text-align: center 
		text-transform: uppercase 
		line-height: 36px 
		margin: 0 
		margin-top: 22px 
	.promo__descr 
		color: rgb(255, 255, 255) 
		font-size: 18px 
		font-weight: 400 
		line-height: 24px 
		text-align: center 
		margin-top: 23px 
	.promo__btn 
		color: rgb(255, 255, 255) 
		font-size: 18px 
		font-weight: 400 
		text-align: center 
		text-transform: uppercase 
		display: block 
		border-radius: 4px 
		box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.12) 
		background: linear-gradient(0deg, rgb(30, 172, 199), rgb(76, 226, 255) 100%) 
		width: 259px 
		height: 63px 
		border: none 
		margin: 0 auto 
		margin-top: 118px 
.resons 
	min-height: 767px 
	background: rgb(255, 255, 255) 
	padding: 18px 0 64px 0
	.resons__label
		color: rgb(255, 255, 255) 
		font-size: 11px 
		font-weight: 400 
		line-height: 29px 
		text-align: center 
		text-transform: uppercase 
		background: rgb(0, 0, 0) 
		margin: 0 auto 
		width: 115px 
		height: 27px 
	.resons__title 
		color: rgb(34, 34, 34) 
		font-size: 38px 
		font-weight: 700 
		line-height: 48px 
		text-align: center 
		text-transform: uppercase 
		margin-top: 32px 
		margin-bottom: 17px 
	.resons__item 
		display: flex 
		justify-content: center
		align-items: center 
		margin-bottom: 28px 
		.resons__text 
			font-size: 15px 
			font-weight: 300 
			line-height: 21px 
			text-align: left 
			width: 343px // срений диапазон по блокам
			span 
				color: rgb(30, 172, 199) 
				font-weight: 400 
				font-size: 17px
				text-align: left 

	.resons__round 
		background: rgb(30, 172, 199) 
		width: 116px 
		height: 116px 
		border-radius: 100% 
		display: flex 
		justify-content: center 
		align-items: center 
		margin-right: 26px
// третья секция
.mobile
	min-height: 864px // обозначи объём
	padding: 48px 0 80px 0
	background: rgb(255, 255, 255) // обозначил внутренние границы
	&__item
		position: relative
		width: 320px // подогнал размер для карточек
		height: 280px
		margin: 0 auto // выставил по центру
		margin-top: 20px
		padding: 88px 0 34px 0 // выставил внутренний отступ
		// display: flex // раскидал текст и плюс 
		// flex-direction: column // текст вверху , плюс внизу
		// justify-content: space-between // к верхнему и нижнему краю
		// align-items: center // спозиционировав по центру
		&_1 // для каждой карточки свой background
			background: url('../img/item1.jpeg') center (center/cover) no-repeat
		&_2	
			background: url('../img/item2.jpeg') center (center/cover) no-repeat
		&_3
			background: url('../img/item3.jpeg') center (center/cover) no-repeat
		&_4
			background: url('../img/item4.jpeg') center (center/cover) no-repeat
		&_5
			background: url('../img/item5.jpeg') center (center/cover) no-repeat
		&_6				
			background: url('../img/item6.jpeg') center (center/cover) no-repeat
		&_link // стилизовал текст
			display: block
			color: rgb(255, 255, 255)
			font-size: 24px
			font-weight: 400
			text-align: center
			text-transform: uppercase
		&_plus
			position: absolute
			bottom: 35px
			right: 50%
			transform: translateX(50%) // если - смещение в лево, если + в право
			width: 29px
			height: 29px
			background: rgb(0, 0, 0)
			border-radius: 100%
			margin: 0 auto
			display: flex // нужно откалибровать плюс  
			justify-content: center//  внутри собственного блока
			align-items: center // по x и y
			cursor: pointer // при наведении видно, что можно нажать на элемент
			padding: 6px // отступы как в макете
			img
				width: 100% // ограничение картинки по h и w в 100%  от родителя т.е 29х29рх